<!doctype html>
<html ng-app>
<head>
	<link href="/css/bootstrap/bootstrap.css" rel="stylesheet">	
  <link href="/css/layout.css" rel="stylesheet"> 
	<link href="/css/style.css" rel="stylesheet">	
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Uniants</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="#" id="btn-dashboard">Dashboard</a>
              </li>
              <li class="">
                <a href="#" id="btn-request">Request</a>
              </li>
               <li class="">
                <a href="#" id="btn-error">Error</a>
              </li>
              <li class="">
                <a href="#" id="btn-events">Events</a>
              </li>
              <li class="">
                <a href="#" id="btn-alerts">Alerts</a>
              </li>
              <li class="">
                <a href="#" id="btn-settings">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>





<div class="container">

  	<div id="dashboard" ng-controller="RequestLogCtrl">
      <span>{{new()}} request of {{request.length}}</span>

  		<ul class="unstyled">
        <li ng-repeat="req in request | orderBy:'timestamp':true">
          <div class="req-status status-{{req.statusCode}}"></div>
          <span>{{req.statusCode}} {{req.method}} {{req.url}} {{req.timestamp | date:'medium'}}</span>
        </li>
  		</ul>
  	</div>

  <div id="request">
  </div>

</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed by Uniants Team</p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li><a href="http://uniants.com">Uniants</a></li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  	<script src="/js/bootstrap/bootstrap.min.js"></script>
  	<script src="/js/socket.io.min.js"></script>

    <script src="/js/application.js"></script>

</body>
</html>