.req-status {
	height: 20px;
	width: 20px;
	display: inline-block;
	border-radius: 4px;
	margin: -5px 0;
}

.req-status.status-200 {
	background-color: rgb(111, 209, 111);
}

.req-status.status-404 {
	background-color: rgb(196, 87, 87);
}

.req-status.status-304 {
	background-color: rgb(228, 145, 81);
}

#request-log .counter {
	text-align: right;
	border-bottom: 1px solid  rgb(211, 211, 211);
	margin-bottom: 5px;
	margin: 0 -10px 5px;
	padding: 0 15px;
}

.request-list > li {
	border-bottom: 1px solid  rgb(211, 211, 211);
	padding: 5px;
}

.request-list > li:nth-child(even) {
	background-color: rgb(241, 241, 241);
}

.request-summary > div {
	display: inline-block;
}

ul.details {
	margin-left: 20px;
	margin-top: 2px;
}

li.detail:last-child {
	border-bottom: 0;
}

li.detail {
	border-bottom: 1px solid silver;
}

.detail-name {
	font-weight: bold;
}

.detail-name i {
	margin-right: 5px;
}

.detail-name .count {
	font-weight: normal;
}
